.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.landing-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
